body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header_mainwebsite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 32, 41);
    height: 100px;
    padding-inline: 100px;
}

.monitor_border_header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100px;
}

.header_mainwebsite img {
    height: 50px;
}

.monitor_border_main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 100px;
}

.main_mainwebsite {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgb(5, 23, 30);
}

#imageLoad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#imageLoad img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
}

h1 {
    color: white;
    margin-bottom: 100px;
    margin-top: 80px;
}

.footer_mainwebsite {
    background-color: rgb(8, 32, 41);
    height: 100px;
}