body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header_mainwebsite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 32, 41);
    height: 100px;
    padding-inline: 100px;
}

.monitor_border_header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100px;
}

.header_mainwebsite img {
    height: 50px;
}

.monitor_border_main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 100px;
}

.main_mainwebsite {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgb(5, 23, 30);
}

#imageLoad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#imageLoad img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(13, 50, 64);
}

#imageLoad img:hover {
    cursor: pointer;
    border: 2px solid rgb(46, 108, 131);
}

h1 {
    color: white;
    margin-bottom: 100px;
    margin-top: 80px;
}

#pictureDialog {
    background-color: rgb(15, 54, 68);
    border-radius: 20px;
}

.dialg_style img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#dialogFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.dialog_button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.dialog_button:hover {
    cursor: pointer;
}

.footer_mainwebsite {
    background-color: rgb(8, 32, 41);
    min-height: 100px;
}