body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(8, 32, 41);
    height: 100px;
    padding-left: 30px;
}

header img {
    height: 50px;
}

main {
    flex: 1;
    background-color: rgb(5, 23, 30);
}

h1 {
    color: white;
    margin: 0;
}

footer {
    background-color: rgb(8, 32, 41);
    height: 100px;
}