body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

:root {
    --main-bg-color: rgb(5, 23, 30);
    --header-footer-color: rgb(8, 32, 41);
}

.header_mainwebsite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
    height: 100px;
    padding-inline: 100px;
}

.monitor_border_header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100px;
}

.header_mainwebsite img {
    height: 50px;
}

.monitor_border_main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 100px;
}

.main_mainwebsite {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgb(5, 23, 30);
    padding-bottom: 50px;
}

h1 {
    font-size: 45px;
}

#imageLoad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#imageLoad img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(13, 50, 64);
}

#imageLoad img:hover {
    cursor: pointer;
    border: 2px solid rgb(46, 108, 131);
}

h1 {
    color: white;
    margin-bottom: 100px;
    margin-top: 80px;
}

#pictureDialog {
    background-color: rgb(15, 54, 68);
    border-radius: 20px;
    border-color: black;
    color: white;
}

#pictureDialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

.dialog_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.dialog_style img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#dialogFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.dialog_button {
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: rgb(30, 30, 31);
}

#pictureHeading {
    font-size: 16px;
}

.x_button {
    color: white;
    background-color: rgb(15, 54, 68);
}

.x_button::after {
    display: inline-block;
    content: "\00d7";
    font-size: 25px;
}

.arrow {
    border: solid rgb(133, 28, 28);
    border-width: 0px 8px 8px 0px;
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
}

.right {
    margin-right: 5px;
    transform: rotate(-45deg);
}

.left {
    margin-left: 5px;
    transform: rotate(135deg);
}

.dialog_button:hover {
    cursor: pointer;
}

.footer_mainwebsite {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-footer-color);
    min-height: 100px;
    color: rgb(180, 179, 179);
    margin-top: 0;
}

.footer_mainwebsite a {
    text-decoration: underline;
    color: rgb(180, 179, 179);
}

.footer_mainwebsite a:hover {
    color: white;
}

@media (max-width: 420px) {

    .header_mainwebsite {
        padding-inline: 24px;
    }

    .monitor_border_main {
        padding-inline: 16px;
    }

    .header_mainwebsite img {
        height: 36px;
    }

    h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 36px;
    }

    #imageLoad img {
        height: 120px;
        width: 120px;
    }

    .dialog_style img {
        height: 224px;
        width: 224px;
    }

    .dialog_header {
        margin-bottom: 20px;
    }

    #dialogFooter {
        margin-top: 24px;
    }

}

@media (max-width: 610px) {

        h1 {
        text-align: center;
    }

    #imageLoad img {
        height: 120px;
        width: 120px;
    }
}